.profile__add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  max-width: 150px;
  width: 100%;
  min-height: 50px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  background-image: url('../../../images/plus-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .profile__add-btn {
    min-width: 280px;
    background-size: 16px 16px;
  }
}