.profile__edit-btn {
  padding: 0;
  width: 24px;
  min-height: 24px;
  border: 1px solid var(--basic-white);
  background-image: url('../../../images/edit-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: inherit;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile__edit-btn {
    max-width: 18px;
    min-height: 18px;
  }
}