.popup__btn-close {
  margin-bottom: 5px;
  padding: 0;
  padding-left: 475px;
  border: none;
  cursor: pointer;
  background: none;
}

.popup__btn-close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .popup__btn-close {
    margin-bottom: 12px;
    padding-left: 260px;
  }
}