.popup__close-icon {
  max-width: 32px;
  width: 100%;
  min-height: 32px;
  fill: var(--basic-white);
}

.popup__close-icon:hover {
  opacity: 0.1;
}

@media screen and (max-width: 768px) {
  .popup__close-icon {
    max-width: 20px;
    min-height: 20px;
  }
}