@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

.body {
  background-color: var(--basic-black);
}

:root {
  --basic-gray: #E5E5E5;
  --basic-white: #fff;
  --basic-black: #000;
  --gray-light: #545454;
}

.page {
  min-width: 320px;
  max-width: 1280px;
  font-family: 'Inter', Arial, sans-serif;
  color: var(--basic-white);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  margin: 0 auto;
}

.wrapper_type_header {
  margin-top: 45px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 40px;
}

.wrapper_type_body {
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 70px;
}

.wrapper_type_footer {
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 60px;
}

.header {
  max-height: 73px;
  height: 100%;
  padding-bottom: 37px;
  border-bottom: 1px solid var(--gray-light);
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  margin-right: 30px;
  border-radius: 50%;
}

.profile__container {
  display: flex;
  align-items: center;
}

.profile__block-name {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile__name {
  margin: 0;
  margin-right: 22px;
  font-size: 42px;
  line-height: 1.1;
}

.profile__info {
  margin: 0;
  font-size: 18px;
}

.profile__edit-btn {
  width: 25px;
  height: 25px;
  background-color: var(--basic-black);
  border: 1px solid var(--basic-white);
}

.profile__add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 146px;
  height: 46px;
  background-color: var(--basic-black);
  border: 2px solid var(--basic-white);
}

.profile__plus-icon {
  width: 22px;
  height: 22px;
}

.photo-grid__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  row-gap: 25px;
  column-gap: 17px;
  margin: 0;
  padding: 0;
  list-style: none;
}


.photo-grid__container {
  display: flex;
  justify-content: space-between;
  background-color: var(--basic-white);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.photo-grid__image {
  display: block;
  height: 282px;
  max-width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.photo-grid__name {
  padding-left: 21px;
  font-size: 24px;
  font-weight: 900;
  color: var(--basic-black);
}

.photo-grid__like {
  padding-right: 20px;
}

.footer__info {
  margin: 0;
  letter-spacing: 1.1px;
  color: var(--gray-light);
}

