.photo-grid__items {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  row-gap: 25px;
  column-gap: 17px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 10px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .photo-grid__items {
    column-gap: 20px;
  }
}